version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "theqeeqez"
      - "thebravebyte"
    groups:
      dependencies:
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "theqeeqez"
      - "thebravebyte"
    groups:
      dependencies:
        patterns:
          - "*"